@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
/* font-family: 'Roboto', sans-serif; */

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: 
        "navigation"
        "banner";
    height: 100vh;

}

.banner {
    grid-area: banner;
    max-height: 50vh;
    background: #2B303E;
    background-image: url(../images/banner-background.svg);
}

.banner-text {
    display: flex;
    color: white;
    width: 100%;
    height: 100%;
    font-size: 9vw;
    align-items: center;
    justify-content: center;
}

.claudine {
    font-weight: 700;
}

.yuen {
    font-weight: 100;
    border-bottom: 2px white solid;
}

.navigation {
    grid-area: navigation;
    display: flex;
    align-items: center;
    max-height: 50vh;
}

.navigation-grid {
    display: grid;
    height: 30vh;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 4px;
    grid-template-areas: 
        "about projects contact";
    background-color: #2B303E;
    font-size: calc(12px + 1.5vw);
}

.about {
    grid-area: about;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: white;
}

.about a, .projects a, .contact a {
    color: black;
    background-color: white;
    width: 28vw;
    text-align: center;
    padding-top: 8vh;
    padding-bottom: 8vh;
    text-decoration: none;
    transition: 250ms;
}

.about a:hover {
    background-color: #AA83A4;
    color: white;
}

.projects a:hover {
    background-color: #B1575F;
    color: white;
}

.contact a:hover {
    background-color: #77997D;
    color: white;
}

.projects {
    grid-area: projects;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: white;
}

.contact {
    grid-area: contact;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: white;
}

/* Page Layout */
.page-grid {
    display: grid;
    align-items: start;
    width: 100%;
    max-width: 100%;
    grid-template-columns: 0.5fr 4fr;
    grid-template-rows: 1fr;
    gap: 0px 10px;
    grid-template-areas: 
        "page-navbar page-content";
    background-color: #ECEFF4;
}

.page-navbar {
    grid-area: page-navbar;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 3fr 2fr;
    gap: 0px 0px;
    grid-template-areas: 
        "navbar-header"
        "navbar-elements"
        "navbar-footer";

    background-color: #2B303E;
    color: white;

    position: sticky;
    top: 0;
    height: 100vh;
}

.navbar-header {
    grid-area: navbar-header;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-claudine {
    margin: 10px 0px 0px 0px;
    font-size: calc(14px + 0.5vw);
}

.header-yuen {
    margin: 5px 0px 0px 0px;
    font-size: calc(14px + 0.5vw);
}

.navbar-elements {
    grid-area: navbar-elements;

    display: flex;
    align-items: center;
    background-color: #445163;
}

.navbar-elements ul {
    padding: 0px;
    margin: 0px;
}

.navbar-elements li {
    list-style-type: none;
    padding: 15px;
}

.navbar-elements ul li a {
    text-decoration: none;
    color: white;
    font-size: calc(12px + 0.5vw);
}

.navbar-footer {
    grid-area: navbar-footer;
}

.page-content {
    grid-area: page-content;
    margin: 4vh auto;
    padding: 4vh 6vw;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    border-radius: 10px;
    width: 70%;
    max-width: 1000px;
    background-color: white;;
}

.full-page-content {
    height: 82vh;
    overflow: hidden;
}

.page-content ul {
    list-style-type: disc;
    padding-left: 20px;
}

.page-content li {
    margin: 10px 0px;
}

.simple-table {
    margin: 0 auto;
    width: 80%;
    font-size: 16px;
    color: #2E3440;
    border-collapse: separate;
    border-spacing: 0;
}

.simple-table td {
    border-right: 1px solid #4C566A;
    border-bottom: 1px solid #4C566A;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 50%;
    text-align: center;
}

.simple-table-colored tr:nth-child(even) {
    background-color: #ECEFF4;
}

.simple-table tr td:first-child {
    border-left: 1px solid #4C566A;
}

.simple-table tr:first-child td {
    border-top: 1px solid #4C566A;
}

/* top-left border-radius */
.simple-table tr:first-child td:first-child {
    border-top-left-radius: 10px;
}

/* top-right border-radius */
.simple-table tr:first-child td:last-child {
    border-top-right-radius: 10px;
}

/* bottom-left border-radius */
.simple-table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

/* bottom-right border-radius */
.simple-table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.entry-table {
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: 10px;
    margin: 0 auto;
    width: 100%;
    border-collapse: separate;
    /* border: 1px solid #4C566A; */
    border-radius: 10px;
    padding: 10px;
  }
  
.et-title {
    font-weight: bold;
    grid-column: 1 / span 1;
}

.et-date {
    grid-column: 2 / span 1;
}

.et-workplace {
    grid-column: 1 / span 2;
}

.et-description {
    grid-column: 1 / span 2;
}

hr.entry {
    border: 1px solid #ECEFF4;
    margin: 0 auto;
    width: 100%
}

.projects-headings h2 {
    margin-bottom: 0px;
}

.projects-headings h3 {
    margin-top: 0px;
    font-weight: 400;
    color: #4C566A;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-item {
    width: 46%;
    padding: 10px;
    text-align: center;
}

.gallery-item-large {
    width: 80%;
    padding: 10px;
    text-align: center;
}

.gallery-item-small {
    width: 30%;
    padding: 4px;
    text-align: center;
}

.gallery img {
    width: 100%;
    height: auto;
}

.gallery video {
    width: 100%;
    height: auto;
}

.full-page-content iframe {
    width: 100%;
    height: 200px;
}

.iframe-container {
    width: 100%;
    height: 65vh;
    overflow: hidden;
}

.iframe-container iframe {
    width: 100%;
    height: 100%;
}